#cover h2 {
  margin:30px 0 0;
  color:#FFF;
  text-align:center;
  font-size:70px;
}

#cover p {
  margin:10px 0 0;
  text-align:center;
  color:#FFF;
  font-style:italic;
  font-size:20px;
}

#cover p a {
  color:#FFF;
}

footer.badge {
  position: fixed;
}

small {
  font-size: .8em;
}

a {
  background: unset !important;
}
